doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/github.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700')
    link(rel='stylesheet', href='/css/packageserver.css')

    title Premake Package & Module Server
  body
    .bnet-navbar-static
      .container
        header.bnet-navbar.header
          .col-md-8
            a.brand-mark(href='https://premake.github.io/')
            ul.nav.navbar-nav.navbar-header.navbar-left
              li: a(href='/') Package Server
          .col-md-4
            ul.nav.navbar-nav.navbar-header.navbar-right
              li: a(href='mailto:tom@tomvandijck.com') Contact
    .bnet-navbar-static
      .container
        ul.nav.navbar-nav.navbar-secondary.navbar-left
          li: a(href='/')
            span: i.fa.fa-home 
            span Home 

        ul.nav.navbar-nav.navbar-secondary.navbar-right
          if user 
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                i.fa.fa-github.fa-lg
                span 
                  =user.name
                span.caret
              ul.dropdown-menu
                li: img(src=user.avatar_url) 
                li: a(href=user.profile_url) Profile
                li: a(href='/logout') Log out
          else
            li: a(href='/login') 
              span Log in with GitHub
              span 
                i.fa.fa-github.fa-lg

    section.content-wrapper.main-content.clear-fix
      block content

    .container
      .footer-content
        .col-md-8
          .legal
            span.copyright Copyright © 2016 by Tom van Dijck
            span.supplemental Premake Package & Module Server 0.1.0
            span.links 
              a(href='https://github.com/tvandijck/packagesrv-web') Help us to Improve
              a(href='https://github.com/tvandijck/packagesrv-web/issues') Report an Issue
        .col-md-4
          span.premake Premake

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')

    block script