doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/packageserver.css')
    title Premake Package & Module Server
  body
    .bnet-navbar-static
      .container
        header.bnet-navbar.header
          .col-md-8
            a.brand-mark(href='https://premake.github.io/')
            ul.nav.navbar-nav.navbar-header.navbar-left
              li: a(href='/') Package Server
          .col-md-4
            ul.nav.navbar-nav.navbar-header.navbar-right
              li: a(href='mailto:tom@tomvandijck.com') Contact

    section.content-wrapper.main-content.clear-fix
      block content

    .container
      .footer-content
        .col-md-8
          .legal
            span.copyright Copyright © 2016 by Tom van Dijck
            span.supplemental Premake Package & Module Server 0.1.0
            span.links 
              a(href='https://github.com/tvandijck/packagesrv-web') Help us to Improve
              a(href='https://github.com/tvandijck/packagesrv-web/issues') Report an Issue
        .col-md-4
          span.premake Premake

    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")