extend default

block content
  .container
    .col-md-8
      .panel.panel-default
        .panel-heading
          h2.panel-title Available Modules
        table.table.table-striped
          thead
            tr
              th Name
              th Usage
              th Website
          tbody
            tr
              td Raw
              td require('raw')
              td: a(href='https://github.com/premake/premake-raw') https://github.com/premake/premake-raw
    .col-md-8

