@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Available Modules</h2>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Usage</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Raw</td>
                        <td>require('raw')</td>
                        <td><a href="https://github.com/premake/premake-raw">https://github.com/premake/premake-raw</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-4">
    </div>
</div>
